In [1]:
import requests
import os
import hashlib
import io

def download(file, url_suffix=None, checksum=None):
    if url_suffix is None:
        url_suffix = file
        
    if not os.path.exists(file):
        if os.path.exists('.voc'):
            url = 'https://cse6040.gatech.edu/datasets/{}'.format(url_suffix)
        else:
            url = 'https://github.com/cse6040/labs-fa17/raw/master/datasets/{}'.format(url_suffix)
        print("Downloading: {} ...".format(url))
        r = requests.get(url)
        with open(file, 'w', encoding=r.encoding) as f:
            f.write(r.text)
            
    if checksum is not None:
        with io.open(file, 'r', encoding='utf-8', errors='replace') as f:
            body = f.read()
            body_checksum = hashlib.md5(body.encode('utf-8')).hexdigest()
            assert body_checksum == checksum, \
                "Downloaded file '{}' has incorrect checksum: '{}' instead of '{}'".format(file, body_checksum, checksum)
    
    print("'{}' is ready!".format(file))
    
datasets = {'iris.csv': 'd1175c032e1042bec7f974c91e4a65ae',
            'table1.csv': '556ffe73363752488d6b41462f5ff3c9',
            'table2.csv': '16e04efbc7122e515f7a81a3361e6b87',
            'table3.csv': '531d13889f191d6c07c27c3c7ea035ff',
            'table4a.csv': '3c0bbecb40c6958df33a1f9aa5629a80',
            'table4b.csv': '8484bcdf07b50a7e0932099daa72a93d',
            'who.csv': '59fed6bbce66349bf00244b550a93544',
            'who2_soln.csv': 'f6d4875feea9d6fca82ae7f87f760f44',
            'who3_soln.csv': 'fba14f1e088d871e4407f5f737cfbc06'}

for filename, checksum in datasets.items():
    download(filename, url_suffix='tidy/{}'.format(filename), checksum=checksum)
    
print("\n(All data appears to be ready.)")

'iris.csv' is ready!
'table1.csv' is ready!
'table2.csv' is ready!
'table3.csv' is ready!
'table4a.csv' is ready!
'table4b.csv' is ready!
'who.csv' is ready!
'who2_soln.csv' is ready!
'who3_soln.csv' is ready!

(All data appears to be ready.)

In [1]:
import pandas as pd

In [2]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]

In [8]:
BabyDataSet = list(zip(names,births))
list(BabyDataSet)

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [9]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])

In [10]:
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [11]:
df.to_csv('daat1.csv',header=False,index=False)

In [17]:
df=pd.read_csv('daat1.csv',header=None)

In [18]:
df

         0    1
0      Bob  968
1  Jessica  155
2     Mary   77
3     John  578
4      Mel  973

In [19]:
df = pd.read_csv("https://raw.githubusercontent.com/bigmlcom/bigmler/master/data/iris.csv")
df.head(10)

   sepal length  sepal width  petal length  petal width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [21]:
df.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [24]:
df.sort_values('sepal length',ascending=False)

     sepal length  sepal width  petal length  petal width          species
131           7.9          3.8           6.4          2.0   Iris-virginica
135           7.7          3.0           6.1          2.3   Iris-virginica
122           7.7          2.8           6.7          2.0   Iris-virginica
117           7.7          3.8           6.7          2.2   Iris-virginica
118           7.7          2.6           6.9          2.3   Iris-virginica
105           7.6          3.0           6.6          2.1   Iris-virginica
130           7.4          2.8           6.1          1.9   Iris-virginica
107           7.3          2.9           6.3          1.8   Iris-virginica
125           7.2          3.2           6.0          1.8   Iris-virginica
109           7.2          3.6           6.1          2.5   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
102           7.1          3.0           5.9          2.1   Iris-virginica
50            7.0          3.2           4.7          1.4  Iris-versicolor
120           6.9          3.2           5.7          2.3   Iris-virginica
52            6.9          3.1           4.9          1.5  Iris-versicolor
139           6.9          3.1           5.4          2.1   Iris-virginica
141           6.9          3.1           5.1          2.3   Iris-virginica
143           6.8          3.2           5.9          2.3   Iris-virginica
76            6.8          2.8           4.8          1.4  Iris-versicolor
112           6.8          3.0           5.5          2.1   Iris-virginica
86            6.7          3.1           4.7          1.5  Iris-versicolor
77            6.7          3.0           5.0          1.7  Iris-versicolor
140           6.7          3.1           5.6          2.4   Iris-virginica
144           6.7          3.3           5.7          2.5   Iris-virginica
108           6.7          2.5           5.8          1.8   Iris-virginica
145           6.7          3.0           5.2          2.3   Iris-virginica
124           6.7          3.3           5.7          2.1   Iris-virginica
65            6.7          3.1           4.4          1.4  Iris-versicolor
58            6.6          2.9           4.6          1.3  Iris-versicolor
75            6.6          3.0           4.4          1.4  Iris-versicolor
..            ...          ...           ...          ...              ...
49            5.0          3.3           1.4          0.2      Iris-setosa
25            5.0          3.0           1.6          0.2      Iris-setosa
93            5.0          2.3           3.3          1.0  Iris-versicolor
35            5.0          3.2           1.2          0.2      Iris-setosa
40            5.0          3.5           1.3          0.3      Iris-setosa
7             5.0          3.4           1.5          0.2      Iris-setosa
60            5.0          2.0           3.5          1.0  Iris-versicolor
4             5.0          3.6           1.4          0.2      Iris-setosa
57            4.9          2.4           3.3          1.0  Iris-versicolor
1             4.9          3.0           1.4          0.2      Iris-setosa
9             4.9          3.1           1.5          0.1      Iris-setosa
34            4.9          3.1           1.5          0.2      Iris-setosa
37            4.9          3.6           1.4          0.1      Iris-setosa
106           4.9          2.5           4.5          1.7   Iris-virginica
11            4.8          3.4           1.6          0.2      Iris-setosa
30            4.8          3.1           1.6          0.2      Iris-setosa
24            4.8          3.4           1.9          0.2      Iris-setosa
45            4.8          3.0           1.4          0.3      Iris-setosa
12            4.8          3.0           1.4          0.1      Iris-setosa
29            4.7          3.2           1.6          0.2      Iris-setosa
2             4.7          3.2           1.3          0.2      Iris-setosa
22            4.6          3.6           1.0          0.2      Iris-setosa
6             4.6          3.4           1.4          0.3      Iris-setosa
47            4.6          3.2           1.4          0.2      Iris-setosa
3             4.6          3.1           1.5          0.2      Iris-setosa
41            4.5          2.3           1.3          0.3      Iris-setosa
42            4.4          3.2           1.3          0.2      Iris-setosa
38            4.4          3.0           1.3          0.2      Iris-setosa
8             4.4          2.9           1.4          0.2      Iris-setosa
13            4.3          3.0           1.1          0.1      Iris-setosa

[150 rows x 5 columns]

In [3]:
import pandas as pd
from io import StringIO
from IPython.display import display

# Ignore this line. It will be used later.
SAVE_APPLY = getattr(pd.DataFrame, 'apply')
irises=pd.read_csv('iris.csv')
print("=== Iris data set: {} rows x {} columns. ===".format(irises.shape[0], irises.shape[1]))
display (irises.head())

=== Iris data set: 150 rows x 5 columns. ===

   sepal length  sepal width  petal length  petal width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
print(irises.index)

RangeIndex(start=0, stop=150, step=1)

In [6]:
irises.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
irises['sepal length'].head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length, dtype: float64

In [8]:
irises[["sepal length", "petal width"]].head()

   sepal length  petal width
0           5.1          0.2
1           4.9          0.2
2           4.7          0.2
3           4.6          0.2
4           5.0          0.2

In [9]:
irises.iloc[5:10]

   sepal length  sepal width  petal length  petal width      species
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [10]:
irises[irises["sepal length"] > 5.0]

     sepal length  sepal width  petal length  petal width          species
0             5.1          3.5           1.4          0.2      Iris-setosa
5             5.4          3.9           1.7          0.4      Iris-setosa
10            5.4          3.7           1.5          0.2      Iris-setosa
14            5.8          4.0           1.2          0.2      Iris-setosa
15            5.7          4.4           1.5          0.4      Iris-setosa
16            5.4          3.9           1.3          0.4      Iris-setosa
17            5.1          3.5           1.4          0.3      Iris-setosa
18            5.7          3.8           1.7          0.3      Iris-setosa
19            5.1          3.8           1.5          0.3      Iris-setosa
20            5.4          3.4           1.7          0.2      Iris-setosa
21            5.1          3.7           1.5          0.4      Iris-setosa
23            5.1          3.3           1.7          0.5      Iris-setosa
27            5.2          3.5           1.5          0.2      Iris-setosa
28            5.2          3.4           1.4          0.2      Iris-setosa
31            5.4          3.4           1.5          0.4      Iris-setosa
32            5.2          4.1           1.5          0.1      Iris-setosa
33            5.5          4.2           1.4          0.2      Iris-setosa
36            5.5          3.5           1.3          0.2      Iris-setosa
39            5.1          3.4           1.5          0.2      Iris-setosa
44            5.1          3.8           1.9          0.4      Iris-setosa
46            5.1          3.8           1.6          0.2      Iris-setosa
48            5.3          3.7           1.5          0.2      Iris-setosa
50            7.0          3.2           4.7          1.4  Iris-versicolor
51            6.4          3.2           4.5          1.5  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
53            5.5          2.3           4.0          1.3  Iris-versicolor
54            6.5          2.8           4.6          1.5  Iris-versicolor
55            5.7          2.8           4.5          1.3  Iris-versicolor
56            6.3          3.3           4.7          1.6  Iris-versicolor
58            6.6          2.9           4.6          1.3  Iris-versicolor
..            ...          ...           ...          ...              ...
120           6.9          3.2           5.7          2.3   Iris-virginica
121           5.6          2.8           4.9          2.0   Iris-virginica
122           7.7          2.8           6.7          2.0   Iris-virginica
123           6.3          2.7           4.9          1.8   Iris-virginica
124           6.7          3.3           5.7          2.1   Iris-virginica
125           7.2          3.2           6.0          1.8   Iris-virginica
126           6.2          2.8           4.8          1.8   Iris-virginica
127           6.1          3.0           4.9          1.8   Iris-virginica
128           6.4          2.8           5.6          2.1   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
130           7.4          2.8           6.1          1.9   Iris-virginica
131           7.9          3.8           6.4          2.0   Iris-virginica
132           6.4          2.8           5.6          2.2   Iris-virginica
133           6.3          2.8           5.1          1.5   Iris-virginica
134           6.1          2.6           5.6          1.4   Iris-virginica
135           7.7          3.0           6.1          2.3   Iris-virginica
136           6.3          3.4           5.6          2.4   Iris-virginica
137           6.4          3.1           5.5          1.8   Iris-virginica
138           6.0          3.0           4.8          1.8   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
140           6.7          3.1           5.6          2.4   Iris-virginica
141           6.9          3.1           5.1          2.3   Iris-virginica
142           5.8          2.7           5.1          1.9   Iris-virginica
143           6.8          3.2           5.9          2.3   Iris-virginica
144           6.7          3.3           5.7          2.5   Iris-virginica
145           6.7          3.0           5.2          2.3   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

[118 rows x 5 columns]

In [11]:
irises["sepal length"].max()

7.9000000000000004

In [12]:
irises['species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [13]:
irises.sort_values(by="sepal length", ascending=False).head(1)

     sepal length  sepal width  petal length  petal width         species
131           7.9          3.8           6.4          2.0  Iris-virginica

In [16]:
irises.sort_values(by="sepal length", ascending=False).iloc[5:10]

     sepal length  sepal width  petal length  petal width         species
105           7.6          3.0           6.6          2.1  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica

In [17]:
irises.sort_values(by="sepal length", ascending=False).loc[5:10]

    sepal length  sepal width  petal length  petal width      species
5            5.4          3.9           1.7          0.4  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa

In [18]:
irises['x'] = 3.14

In [19]:
irises.rename(columns={'species': 'type'})
del irises['x']

In [21]:
A_csv = """country,year,cases
Afghanistan,1999,745
Brazil,1999,37737
China,1999,212258
Afghanistan,2000,2666
Brazil,2000,80488
China,2000,213766"""

with StringIO(A_csv) as fp:
    A = pd.read_csv(fp)
print("=== A ===")
display(A)

=== A ===

       country  year   cases
0  Afghanistan  1999     745
1       Brazil  1999   37737
2        China  1999  212258
3  Afghanistan  2000    2666
4       Brazil  2000   80488
5        China  2000  213766

In [23]:
A_csv = """country,year,cases
Afghanistan,1999,745
Brazil,1999,37737
China,1999,212258
Afghanistan,2000,2666
Brazil,2000,80488
China,2000,213766"""

with StringIO(A_csv) as fp:
    A = pd.read_csv(fp)
print("=== A ===")
display(A)

=== A ===

       country  year   cases
0  Afghanistan  1999     745
1       Brazil  1999   37737
2        China  1999  212258
3  Afghanistan  2000    2666
4       Brazil  2000   80488
5        China  2000  213766

In [24]:
B_csv = """country,year,population
Afghanistan,1999,19987071
Brazil,1999,172006362
China,1999,1272915272
Afghanistan,2000,20595360
Brazil,2000,174504898
China,2000,1280428583"""

with StringIO(B_csv) as fp:
    B = pd.read_csv(fp)
print("\n=== B ===")
display(B)

=== B ===

       country  year  population
0  Afghanistan  1999    19987071
1       Brazil  1999   172006362
2        China  1999  1272915272
3  Afghanistan  2000    20595360
4       Brazil  2000   174504898
5        China  2000  1280428583

In [25]:
C = A.merge(B, on=['country', 'year'])
print("\n=== C = merge(A, B) ===")
display(C)

=== C = merge(A, B) ===

       country  year   cases  population
0  Afghanistan  1999     745    19987071
1       Brazil  1999   37737   172006362
2        China  1999  212258  1272915272
3  Afghanistan  2000    2666    20595360
4       Brazil  2000   80488   174504898
5        China  2000  213766  1280428583

In [35]:
G = C.copy()
G['year'] = G['year'].apply(lambda x: "'{:02d}".format(x % 100))

display(G)

       country year   cases  population
0  Afghanistan  '99     745    19987071
1       Brazil  '99   37737   172006362
2        China  '99  212258  1272915272
3  Afghanistan  '00    2666    20595360
4       Brazil  '00   80488   174504898
5        China  '00  213766  1280428583

In [36]:
df.apply(numpy.sqrt)

NameError: name 'df' is not defined

In [56]:
def calc_prevalence(G):
    assert 'cases' in G.columns and 'population' in G.columns
#
# YOUR CODE HERE
#
    H=G.copy()
    H['population'] = H['population'].apply(lambda row: row /3)
    return H

In [57]:
calc_prevalence(G)

       country year   cases    population
0  Afghanistan  '99     745  6.662357e+06
1       Brazil  '99   37737  5.733545e+07
2        China  '99  212258  4.243051e+08
3  Afghanistan  '00    2666  6.865120e+06
4       Brazil  '00   80488  5.816830e+07
5        China  '00  213766  4.268095e+08